<launch>

  <!-- Create camera frame -->
  <node pkg="tf" type="static_transform_publisher" name="camera_tf_publisher" args="-0.06 0 0.04 1.57 0 1.57 gripper_link camera_link 100" />

  <!-- Start cam simulator -->
  <node name="cam_simulator" pkg="pxpincher_camsim" type="cam_simulator" output="screen">
  	<rosparam file="$(find pxpincher_camsim)/cfg/camsim_params.yaml" command="load"/>
  </node>

</launch>
